*[data-tags-disabled="true"] {
    cursor: not-allowed !important;
}

.tags-input__container {
    width: 100%;
    min-width: 160px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.tags-input__wrapper {
    border: 1px solid black;
    padding: 2px 28px 2px 5px;
    display: flex;
    flex-flow: row wrap;
    min-height: 24px;
    position: relative;
}

.tags-input__display {
    height: 24px;
    line-height: 24px;
    margin-left: 2px;
    cursor: default;
    color: gray;
    font-size: 14px;
}

.tags-input__input {
    outline: none;
    border: none;
    cursor: default;
    flex-grow: 1;
    flex-basis: auto;
    width: 100px;
    height: inherit;
    box-sizing: border-box;
    margin-left: 2px;
    font-size: 14px;
}

.tags-input__input--multi {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 24px;
    padding: 7px;
    font-size: 14px;
}

.tags-input__input:focus {
    cursor: text;
}

.tags-input__input[data-tags-disabled="true"] {
    background-color: white;
}

.tags-input__caret {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.tags-input__caret[data-tags-disabled="true"] {
    color: gray;
}

.tags-input__multi-wrapper {
    position: absolute;
    left:0;
    right:0;
    border: 1px solid gray;
    z-index: 100;
}

.tags-input__loading {
    display: block;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 8px;
    background-color: white;
    border: 1px solid gray;
}

.tags-input__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tags-input__option {
    display: block;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 8px;
    background-color: white;
    border-top: 1px solid gray;
}

.tags-input__option:nth-of-type(1) {
    border-top: none;
}

.tags-input__option--highlighted {
    color: white;
    background-color: lightblue;
}

.tags-input__option--selected {
    color: white;
    background-color: #5763E5;
}

.tags-input__item-wrapper {
    box-sizing: border-box;
    position: relative;
    background-color: #5763E5;
    border: 1px solid #5763E5;
    border-radius: 10px;
    color: white;
    max-height: 22px;
    margin: 1px 1px 1px 0px;
    line-height: 20px;
    cursor: default;
}

.tags-input__item-wrapper[data-tags-disabled="true"] {
    background-color: gray;
}

.tags-input__item {
    max-width: 150px;
    overflow: hidden;
    display: inline-block;
    max-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 25px 0 8px;
}

.tags-input__item__remove {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.3s;
}

.tags-input__item__remove:hover {
    color: #C3C8FF;
}

.tags-input__item__remove[data-tags-disabled="true"] {
    display: none;
}