*[data-tags-disabled="true"] {
    cursor: not-allowed !important;
}

.tags-input__container {
    width: 100%;
    min-width: 160px;
    position: relative;
}

.tags-input__wrapper {
    border: 1px solid black;
    padding: 0 22px 0 5px;
    display: flex;
    flex-wrap: wrap;
    min-height: 24px;
}

.tags-input__display {
    height: 24px;
    line-height: 24px;
    cursor: default;
    color: gray;
}

.tags-input__input {
    outline: none;
    border: none;
    cursor: default;
    flex-grow: 100;
    min-width: 50px;
    height: 24px;
    box-sizing: border-box;
}

.tags-input__input[data-tags-disabled="true"] {
    background-color: white;
}

.tags-input__caret {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.tags-input__caret[data-tags-disabled="true"] {
    color: gray;
}

.tags-input__multi-wrapper {
    position: absolute;
    left:0;
    right:0;
    border: 1px solid gray;
    z-index: 100;
}

.tags-input__input--multi {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 24px;
    padding: 5px;
}

.tags-input__input:focus {
    cursor: text;
}

.tags-input__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tags-input__option {
    display: block;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background-color: white;
    border-top: 1px solid gray;
}

.tags-input__option--highlighted {
    color: white;
    background-color: lightblue;
}

.tags-input__option--selected {
    color: white;
    background-color: blue;
}

.tags-input__item-wrapper {
    max-width: 150px;
    position: relative;
    background-color: blue;
    color: white;
    height: 20px;
    margin: 2px;
    line-height: 20px;
    cursor: default;
}

.tags-input__item-wrapper[data-tags-disabled="true"] {
    background-color: gray;
}

.tags-input__item {
    padding: 2px 20px 2px 2px;
}

.tags-input__item__remove {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer
}

.tags-input__item__remove[data-tags-disabled="true"] {
    display: none;
}

#userInput {
    width: 500px;
}